*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ede07f;
}
#app{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.tempoDiv{
    position: absolute;
    display: flex;
}
.logo__app{
    
        position: relative;
        left: 831px;
        bottom: 566px;
        width: 200px;
        height: 100px;
        background-image: url(../images/logo1.png);
        background-repeat: no-repeat;
        background-size: 200px,100px;
    }

.pdx__box{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:580px;
    background-image: url(../images/close-pdx-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 485px;
    background-position: left;
    
    
    .formulario{
        
        margin-top: 20px;
        margin-left: 20px;
        width: 250px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.BOTONSUBMIT{
    margin-left: 30px;
    background-color: #fa9a07;
    color: #eee;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    border:ridge;
}
.CUENTA{
    color: #eee;
    width: 160px;
    height: 30px;
    background-color: #ff000010;
    border: none;
    border-bottom: 2px solid #222;
    border-left: 2px solid #222;
    padding: 4px;
    &::placeholder{
        color: #eee;
    }
}

.CLAVE{
    width: 160px;
    height: 30px;
    background-color: #ff000010;
    border:none;
    border-bottom: 2px solid #222;
    border-left: 2px solid #222;
    padding: 4px;
    &::placeholder{
        color: #eee;
    }
}