@font-face {
    font-family: "PIXEL";
    src: url(../fonts/PKMNRBYGSC.ttf) format("truetype"); 
}

*{
    font-family: "PIXEL", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //display: flex;
   // flex-direction: column;
    //justify-content: center;
    //align-items: center;
    background-color: #ede07f;
};
#header{
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-right: 6%;
}
.logo{
    width: 200px;
    height: 100px;
    background-image: url(../images/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#main{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap:pretty;
    font-size: 25px;
    width: 70%;
    height: 400px;
    //border: 2px solid #000;
}
.section{
    display: flex;
    justify-content: center;
}
#backBtn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#nextBtn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#skipBtn{
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #fa9a07;
    padding: 10px;
}