/////////////////////////////////////////////////////////////////////////////////////////////
///         ALVARO         AQUI          ABAJO
/// //////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "PIXEL" ;
    src: url(../src/fonts/PKMNRBYGSC.ttf);
}
*{
    font-family: "pixel", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ede07f;
}