@font-face {
  font-family: "PIXEL";
  src: url(../fonts/PKMNRBYGSC.ttf) format("truetype");
}

* {
  //overflow-y: hidden;
  font-family: "PIXEL", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ede07f;
}
#header {
  display: flex;
  justify-content: end;
  margin-top: 2%;
  margin-right: 6%;
}
.logo {
  width: 200px;
  height: 100px;
  background-image: url(../images/logo1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: pretty;
  font-size: 25px;
  width: 70%;
  height: 400px;
}
.divPika{
   float: right;
  background-size: 250px;
  background-repeat: no-repeat;
  background-image: url("../images/output-onlinepngtools.png");
  position: relative;
  top: -74px;
  left: 0;
  width: 300px;
  height: 340px;
  z-index: 15;
  //background-size: cover;
}
.section {
  display: flex;
  justify-content: center;
  z-index: 10;
}
#backBtn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
#nextBtn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
#skipBtn {
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #fa9a07;
  padding: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.divPika {

  animation: wobble 4s infinite;
  @keyframes wobble {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
}
