@font-face {
    font-family: "PIXEL" ;
    src: url(../src/fonts/PKMNRBYGSC.ttf);
}
*{
    font-family: "PIXEL";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ede07f;
}
.app2{
    z-index: 0;
    border:2px solid #fff ;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: auto;
    width: 100%;
}
.tempoDiv{
    z-index: 0;
    position: absolute;
    display: flex;
}
.logo__pdx{
    z-index: 20;
    position: relative;
    left: 780px;
    bottom: 535px;
    width: 200px;
    height: 100px;
    background-image: url(../images/logo1.png);
    background-repeat: no-repeat;
    background-size: 200px,100px;
}
#PDX{
    z-index: 0;
    display: flex;
    height: 550px;
    width: 870px;
background-size:1100px ;
background-position:center;
background-repeat: no-repeat;
background-image: url(../images/Artboard1.png);
}
.pdx__side1{
    z-index: 0;
    margin-left: 7%;
    height: 100%;
    width: 45%;
    
}
.pdx__screen{
    z-index: 0;
    padding: 3px;
    overflow-y: scroll;
    //display: grid;
    
    
    position: relative;
    top: 157px;
    left: 68px;
    width: 260px;
    height: 210px;
}
.pdx__side2{
    position: relative;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 45%;
}
.pdx__number{
    z-index: 0;
    padding: 5px;
    width: 115px;
    height: 45px;
   font-weight: bolder;
    position: relative;
    top: 178px;
    left: 104px;
}
.pdx__screen2{
    z-index: 0;
    padding: 10px;
    color: greenyellow;
    position: relative;
    height: 155px;
    width: 255px;
    
    top: 180px;
    left: 35px;
}
.div__shape{
    z-index: 0;
    display: flex;
    width: 115px;
    height: 35px;
    
    position: relative;
    top: 210px;
    left: 38px;
    font-size: 14px;
    .hw{
        z-index: 0;
        font-weight: bold;
        margin: 4px;
        margin-left: 7px;
        width: 50%;
        
    }
}
.T2{
    z-index: 0;
    display: flex;
    position: relative;
    top: 208px;
    left: 39px;
    margin-left: 3px;
    height: 40px;
    width: 250px;
    justify-content: space-between;
}
.typeOf{
    z-index: 0;
    color: greenyellow;
    width: 115px;
    
    padding: 5px;
}
.imgPK{
    z-index: 0;
    margin-left: 50px;
    width: 165px;
    height: 165px;
}
.namePK{
    z-index: 0;
   text-align: center;
}
#type1{
    z-index: 0;
    font-size: 12px;
}
#type2{
    z-index: 0;
    border-radius: 10px;
    border: 1.8px solid greenyellow;
    padding-top: 7px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}
#type2:hover{
    z-index: 0;
    transform:scale(1.03)
}
.pokemon-grid {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

.pokemon-card {
    z-index: 0;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}
.pokemon-card:hover {
    z-index: 0;
    transform: scale(1.05);
}
.pokemon-card.selected {
    z-index: 0;
    border-color: gold;
}
.hidden {
    z-index: 0;
    display: none !important;
}

#pdxScreenAux{
    z-index: 0;
    display: none;
    padding: 3px;
    position: relative;
    top: 157px;
    left: 68px;
    width: 260px;
    height: 210px;
}
#deleteBtn{
    z-index: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 186px;
    left: 262px;
    background-color: transparent;
    font-size: 9px;
    cursor: pointer; 

    &:hover {
        z-index: 0;
        transform: scale(1.08);
        transition: transform 0.2s ease-in-out;
   
    }
}
// ADD NEW USER BUTTON
#pdxCreateButton {
    z-index: 0;
    border: 1.8px solid #36363677;
    box-shadow:0px 0px 8px 3px rgb(152, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 163px;
    left: 68px;
    background-color: transparent;
    cursor: pointer;
    
    svg {
        z-index: 0;
        margin: 6px;
        background-color: transparent;
        color: transparent;
    }
    &:hover {
        z-index: 0;
        transform: scale(1.04);
        //transition: transform 0.2s ease-in-out;
   
    }
}


#newUserDiv {
    position: relative;
    top: 200px;

}
#inputPokeName{
    
    z-index: 10;
    position: relative;
    width: 248px;
    height: 37.9px;
    top: 28px;
    left: 76px;
    border-radius: 10px;
    
}
#inputPokeName::placeholder{
    text-align: center;
}
#inputDescription{
    
    border-radius: 10px;
    background-color: #165749;
    z-index: 3;
    position: relative;
    width: 258px;
    height: 159px;
    top: -80px;
    left: 37px;

}
#inputDescription::placeholder{
    
    color: greenyellow;
    font-size: 16px;
}
#inputWeight{
    border-radius: 5px;
    background-color: transparent;
    z-index: 4;
    width: 58px;
    height: 34px;
    position: relative;
    top: 44px;
    left: -218px;
}
#inputHeight{
    border-radius: 5px;
    background-color: transparent;
    z-index: 5;
    width: 58px;
    height: 34px;
    position: relative;
    top: 44px;
    left: -219px;
}
#inputPokeType{
    border-radius: 5px;
    background-color: transparent;
    z-index: 6;
    width: 119px;
    height: 39px;
    position: relative;
    top: 10px;
    left: 39px;

}
#btnCancel {
    padding-left: 1px;
    color: greenyellow;
    width: 41px;
    height: 13px;
    line-height: 8px;
    /* padding: 0; */
    margin: 0;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    box-shadow:
    inset 0 2px 4px #242424,
    inset 0 -2px 4px #242424,
    inset 2px 0 4px #242424,
    inset -2px 0 4px #242424;
    position: relative;
    top: -86px;
    right: -129px;
}

#btnSave{
    padding-left: 1px;
    color: greenyellow;
    width: 41px;
    height: 13px;
    line-height: 8px;
    /* padding: 0; */
    margin: 0;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    box-shadow:
    inset 0 2px 4px #242424,
    inset 0 -2px 4px #242424,
    inset 2px 0 4px #242424,
    inset -2px 0 4px #242424;
    position: relative;
    top: -86px;
    right: -41px;
}