@font-face {
    font-family: "PIXEL";
    src: url(../fonts/PKMNRBYGSC.ttf) format("truetype"); 
}

*{
    font-family: "PIXEL", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}